[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/dot"]
	path = themes/dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme
[submodule "themes/piercer"]
	path = themes/piercer
	url = https://github.com/danielkvist/hugo-piercer-theme
